<div class="container-fluid">
  <div class="row">
    {{!-- blog post listing --}}
    <div class="col-xs-5">
      <button {{action "createChat"}}>Create</button> {{input type="text" value=query placeholder="Filter Chats" autofocus="autofocus" key-press=(action "resetPage")}}
      <table class="table">
        <thead>
          <tr><th>Recent Chats</th></tr>
        </thead>
        <tbody>
          {{#each pagedContent as |chat|}}
            <tr>
              <td>
                {{#link-to "chats.chat" chat}}
                  {{chat.title}} <small class="muted">by {{chat.user.name}}</small>
                {{/link-to}}
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
      {{page-numbers content=pagedContent}}
    </div>

    {{!-- blog post content --}}
    <div class="col-xs-7">
      {{yield}}
    </div>
  </div>
</div>
