{{blog-user-edit user=user isEditing=isEditing saveAction=saveAction deleteAction=deleteAction}}

<h1>{{user.name}}</h1>
<p>CloudStation Account: {{user.couchUser}}</p>

<p>Chats by {{user.name}}:

<ul>
  {{#each user.chats as |chat|}}
    {{#link-to "chats.chat" chat}}
      <li>{{chat.title}}</li>
    {{/link-to}}
  {{/each}}
</ul>
</p>
